$theme-border: var(--theme-border);
$theme-color: var(--theme-color);
$theme-background: var(--theme-background);
$theme-background-2: var(--theme-background-2);
$theme-highlight: var(--theme-highlight);
